/*-- scss:defaults --*/

$jet: #131516;
$accent: #8e61aa;
$accent2: #59629b;

@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap";

$font-family: "Atkinson Hyperlegible Next", sans-serif;
$link-color: $accent;
$callout-color-note: $accent;